@font-face {
    font-family: "Cera Pro";
    src: local("Cera Pro Regular"),
      local("LexendPeta-Regular"),
      url("./fonts/CeraPro-Regular.woff2") format("woff2"),
      url("./fonts/CeraPro-Regular.woff") format("woff");
      
}



.main{
    max-width: 100%;
    height: 610px;
    /* background-color: aqua; */
    
}

.frame1{
    /* frame2 - перше поле */
    display: flex;
    width: 1200px;
    height: 250px;
    /* background-color: blueviolet; */
    align-items: center;
    padding-left: 25px;
    margin: 0 auto;
    
}

.garden{
    display: flex;
    width: 734px;
    height: 202px;
    /* background-color: brown; */
    gap: 61px;
}



.card1,.card2{
    display: flex;
    width: 204px;
    height: 202px;
    /* background-color: blue; */
    border-right: 2px solid rgba(70, 163, 89, 0.678);;
}

.card{
    display: flex;
    width: 204px;
    height: 202px;
}

.text{
    display: flex;
    flex-wrap: wrap;
    gap: 9.04px;
    padding-top: 15.07px;
   
}

.text h1{
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 17px;
}

.text p{
    font-family: "Cera Pro";
    line-height: 22px;
    font-weight: 400;
    font-size: 14px;
}

.garden-input{
    width: 354px;
    height: 202px;
     /* background-color: rgb(255, 4, 167);  */
    margin-left: 62px;
}

.garden-input h1{
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.subscription-form {
    display: flex;
    width: 350px;
    margin-top: 22px;
    
}

.subscription-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    color: #777;
    outline: none;
    font-family: "Cera Pro";
}

.subscription-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 14px;
    font-family: "Cera Pro";
}

.subscription-form button:hover {
    background-color: #45a049;
}

.garden-text{
    margin-top: 18px;
  }

.garden-text-p{
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
  }


.frame2{
    /* frame2 - друге поле */
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 88px;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
   
}

.text-greenshop1{
    /* padding-top: 27px; */
    
    
}

.text-greenshop{
    /* background-color: rgb(55, 0, 255);  */
    width: 150px;
    height: 34.3px;
    
}

.frame-adress{
    display: flex;
    /* background-color: rgb(179, 255, 0); */
    width: 205px;
    height: 44px;
    /* margin-top: 25px;
    margin-left: 155px; */
}

.frame-adress svg{
    /* margin-top: 11px; */
    /* background-color: rgb(0, 0, 0); */
    width: 20px;
    height: 20px;
    
}


.frame-adress-text{
    width: 176px;
    height: 44px;
    /* background-color: aqua; */
    /* margin-left: 9px; */
}

.frame-text{
    color: black;
    font-family: "Cera Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.contact{
    display: flex;
    /* background-color: #4ca3af; */
    width: 195px;
    height: 22px;
    /* margin-left: 155px;
    margin-top: 33px; */
}

.svg1{
  margin-top: 2px;
  width: 18px;
  height: 18px;
  /* background-color: #b0c352; */
}


.contact-text{
    margin-left: 10px;
    /* background-color: #4CAF50; */
    
}

.contact-email{
    font-family: "Cera Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.mobile-phone{
    display: flex;
    /* background-color: rgb(246, 59, 134); */
    width: 140px;
    height: 22px;
    /* margin-left: 155px;
    margin-top: 33px; */
}

.svg2{
    /* background-color: #b0c352; */
    width: 20px;
    height: 22px;
}
.mobile-text{
    /* background-color: #52c35a; */
    margin-left: 7px;
    width: 112px;
    height: 22px;
}

.phone-mobile{
    font-family: "Cera Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;


}




.frame3{
    /* frame3 - третє поле */
    display: flex;
    width: 1200px;
    height: 236px;
    /* background-color: rgb(226, 43, 67);  */
    align-items: center;
    padding-left: 25px;
    padding-top: 25px;
    border-bottom: 4px solid rgba(70, 163, 89, 0.678);
    margin: 0 auto;
}


.list{
    display: flex;
    flex-wrap: nowrap;
    /* background-color: #52c35a; */
    width: 623px;
    height: 174px; 
     
}


.block-account1{
    /* background-color: #00628f; */
    width: 100px;
    height: 174px;
}

.block-account2{
    /* background-color: #00628f; */
    width: 141px;
    height: 174px;
    margin-left: 164px;
}

.block-account3{
    /* background-color: #00628f; */
    width: 90px;
    height: 174px;
    margin-left: 129px;
}


.my-account{
    margin-top: 8px;
   /* background-color: rgb(202, 254, 117); */
}

.text-li{
    font-family: "Cera Pro";
    
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    
 
}

.text-account{
    /* background-color: aqua; */
    font-family: "Cera Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;

}


.soc-networks{
    /* background-color: #00628f; */
    width: 224px;
    height: 154px;
    margin-left: 173px;
}

.wrapper{
    /* background-color: #1c6b27; */
    width: 106px;
    height: 16px;
}

.text-wrapper{
    font-family: "Cera Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}


.social-media{
    margin-top: 20px;  
}


.social_icons{
    display: flex;
    gap: 20px;
}



.text-wrap{
    margin-top: 33px;
}

.text-about{
    font-family: "Cera Pro";
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.image{
    margin-top: 8px;
}


.block {
    position: relative; 
    border: 2px solid rgba(70, 163, 89, 0.678);;
  }
  
  
.charset{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1200px;
    /* background-color: #000; */
    align-items:center ;
    
}


.title{
    margin: 0 auto;
    width: 1200px;
    height: 30px;
    /* background-color: #52C368; */
    
}

.name{
    display: flex;
    justify-content: center;
    font-family: "Cera Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
   
    
}

.a{
    text-decoration: none;
    color: black;
}

